@font-face {
  font-family: "icons";
  src: url("../fonts/icons.eot?tt7swf");
  src: url("../fonts/icons.eot?tt7swf#iefix") format("embedded-opentype"),
    url("../fonts/icons.ttf?tt7swf") format("truetype"),
    url("../fonts/icons.woff?tt7swf") format("woff"),
    url("../fonts/icons.woff2") format("woff2"),
    url("../fonts/icons.woff") format("woff"),
    url("../fonts/icons.svg?tt7swf#icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="_icon-"],
[class*=" _icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icons" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-fb:before {
  content: "\e900";
}

._icon-Group:before {
  content: "\e901";
}

._icon-insta:before {
  content: "\e902";
}

._icon-Linkedin:before {
  content: "\e903";
}
