.whoweare {
  background-color: #ffffff;
  padding: 80px 0 100px 0;
}

.whoweare__container {
  padding: 0 15px;
}

.whoweare__body {
  margin-top: 100px;
  display: flex;
}

.whoweare__video {
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 57%;
}
.whoweare__video-wrap {
  width: 100%;
  height: 100%;
  /* 16:9 */
  padding-top: 56.25%;
}

.whoweare__video-wrap iframe {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.whoweare__content {
  flex: 1 1 auto;
  padding: 20px 10px 0 120px;
}

.whoweare__subtitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 142%;
  letter-spacing: 0.2px;
  color: #252b42;
}

.whoweare__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.2px;
  color: #737373;
}
.whoweare__items {
  margin-top: 30px;
}
.item-whoweare {
  display: flex;
  justify-content: flex-start;
}
.item-whoweare:not(:last-child) {
  margin-bottom: 30px;
}
.item-whoweare__icon {
  width: 32px;
  height: 32px;
  margin-right: 10px;
}

.item-whoweare__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.1px;
  color: #252b42;
}

.item-whoweare__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.2px;
  color: #737373;
  margin-top: 10px;
}
@media (max-width: 1037px) {
  .whoweare {
    padding: 40px 0 50px 0;
  }
  .whoweare__content {
    padding: 20px 10px 0 60px;
  }
  .whoweare__body {
    margin-top: 50px;
    flex-direction: column;
  }
  .whoweare__video {
    width: 100%;
    margin-bottom: 20px;
  }
  .whoweare__content {
    width: 100%;
    text-align: center;
  }
  .item-whoweare {
    justify-content: flex-start;
  }
}
@media (max-width: 575.98px) {
  .whoweare__subtitle {
    font-size: 30px;
  }
}
@media (max-width: 424.98px) {
  .whoweare {
    padding: 20px 0 20px 0;
  }
  .whoweare__content {
    padding: 20px 10px 0 10px;
  }
}
// Breakpoints
// smart phone vertical 320 / 319.98
// smart phone gorizontal 576 / 575.98
// tablet vertical 768 / 767.98
// tablet gorizontal 992 / 991.98
// desktop 1200 / 1199.98
// big desktop 1400 / 1399.98
