.advantages {
  background-color: #fafafa;
  padding-top: 80px;
  padding-bottom: 80px;

  @media (max-width: 399.98px) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
.advantages__container {
  padding: 0 15px;
}
.advantages__header {
  margin-bottom: 50px;
}

.advantages__bottom {
  display: flex;
  flex-wrap: wrap;
}
.advantages__item {
  flex: 0 1 22%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 30px;
  padding: 30px 40px;

  @media (max-width: 991.98px) {
    flex: 0 1 47%;
    margin-bottom: 10px;

    &:nth-child(2) {
      margin-right: 0;
    }
  }
  @media (max-width: 575.98px) {
    flex: 0 1 100%;
    margin-right: 0;
  }
}
.advantages__item:last-child {
  margin-right: 0;
}
.advantages__icon {
  width: 48px;
  height: 48px;
  display: flex;

  align-items: center;
  margin-bottom: 10px;
}

.advantages__value {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 142.5%; /* 57px/40 */
  letter-spacing: 0.2px;
  color: $firstTextColor;
  margin-bottom: 10px;
}

.advantages__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%; /* 24px/16 */
  text-align: center;
  letter-spacing: 0.1px;
  color: #737373;
}
// Breakpoints
// smart phone vertical 320 / 319.98
// smart phone gorizontal 576 / 575.98
// tablet vertical 768 / 767.98
// tablet gorizontal 992 / 991.98
// desktop 1200 / 1199.98
// big desktop 1400 / 1399.98
