.footer {
  background-color: #17213c;
  padding: 50px 0;
}

.footer__container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 0 15px;
}

.footer__column {
  flex: 0 1 19%;
  padding: 5px;
}

.footer__label {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%; /* 24px/16 */
  letter-spacing: 0.1px;
  color: #94c2ff;
  margin-bottom: 20px;
}
.menu-footer__item {
}
.menu-footer__item_phone {
  background: url(../img/footer/1.svg) 0 0 no-repeat;
  padding: 0 0 0 34px;
}
.menu-footer__item_map {
  background: url(../img/footer/2.svg) 0 0 no-repeat;
  padding: 0 0 0 34px;
}
.menu-footer__item_email {
  background: url(../img/footer/3.svg) 0 0 no-repeat;
  padding: 0 0 0 34px;
}

.menu-footer__item:not(:last-child) {
  margin-bottom: 10px;
}

.menu-footer__link {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 171.428571%; /* 24px/14 */
  letter-spacing: 0.2px;
  color: #ffffff;
  transition: all 1s ease 0s;
}

.menu-footer__link:hover {
  text-decoration: underline;
}

@media (max-width: 991.98px) {
  .footer__column {
    flex: 1 1 50%;
  }
  .footer__column:not(:last-child) {
    margin-bottom: 15px;
  }
}
@media (max-width: 400px) {
  .footer__column {
    flex: 1 1 100%;
  }
}

// Breakpoints
// smart phone vertical 320 / 319.98
// smart phone gorizontal 576 / 575.98
// tablet vertical 768 / 767.98
// tablet gorizontal 992 / 991.98
// desktop 1200 / 1199.98
// big desktop 1400 / 1399.98
