@import "reset";

@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700,800&display=swep&subset=cyrillic-extc);
@import "fonts";
@import "icons";
@import "awesomeicons";
@import "mixins";
@import "color";
@import "ui";

@import "header";
@import "main";
@import "services";
@import "advantages";
@import "practice";
@import "whoweare";
@import "clients";
@import "subscribe";
@import "getintouch";
@import "contactus";
@import "footer";
@import "social";

$fontFamily: "Montserrat";

$minWdith: 320px;
$maxWidth: 1440px;

body {
  font-family: $fontFamily;
  font-weight: 500;
  font-size: 14px;
  color: $firstTextColor;
  background-color: $bgColor;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

[class*="_container"] {
  max-width: 1046px;
  margin: 0 auto;
  box-sizing: content-box;
}
// Breakpoints
// smart phone vertical 320 / 319.98
// smart phone gorizontal 576 / 575.98
// tablet vertical 768 / 767.98
// tablet gorizontal 992 / 991.98
// desktop 1200 / 1199.98
// big desktop 1400 / 1399.98
